<!DOCTYPE html>
<!--creator Md.Imam Hossain Roni-->
<html>
<head>
  <title>CrimeZone</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="image/fav.png"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="headersection " id="fixed_nav">
    <div class="container-fluid navcontainer">
      <nav class=" navbar navbar-expand-lg   navbar-light  navcontainer2 ">
        <a class="navbar-brand" href="#">CrimeZone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="fa fa-home nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-support  
              " href="#">  Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-sun-o  
              " href="#"> Notifications</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fa fa-cogs" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Security</a>
                <a class="dropdown-item" href="#">Alert</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </header>

  <div class=" maincontainer container-fluid">
    <div class="col-md-3 left_sidebar">
      <div class="total-pp">
        <div class="user-profile-background">
          <div class="user-profile-pp">
            <img src="image/fav.png">
          </div>
          <div class="user-pp">
            <h5 class="name">Md.Imam Hossain Roni</h5>
            <p class="email">Email:imam@gmail.com</p>
            <p class="fa fa-map-marker loc"> Dhaka</p>
            <p class="fa fa-clock-o datetime" > Joining time</p>
          </div>
          <div class="option">
            <p>  <a  class="fa fa-th menu" href="user.html"></a></p>
          </div>
          <div class="border"></div>
          <div class="other">
            <p><a href="">Who's viewed your profile</a> 100</p>
            <p><a href="">Views of your post</a> 45</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 main_content">

      <div class="userprofile">
        <h5 class="userprofiletitle">Crime Information</h5>
        <div class="userinfotable">
         <table class="table">
          <thead>
            <tr>
              <th scope="col">#SN</th>
              <th scope="col">User</th>
              <th scope="col">Subject</th>
              <th scope="col">time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>crime</td>
              <td>@12.30</td>
              <td>Solved</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <div class="col-md-3 right_sidebar ">
    <div class="total-rr ">
      <div class="first-rr">
        <p class="feed">Following</p>
        <hr>
        <div class="follower-show-border">
          <div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div><div class="follower-show">
            <div class="follower-pp"><img src="image/fav.png" alt=""></div>
            <div class="follower-txt">
              <p class="follower-name">Imam Hossain Roni<button class="fright follow-location"><a class="fa fa-map-marker loc"" href=""></a> Uttara</button></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="second-rr">

    </div>
  </div>
</div>

<!-- static file -->
<script src="js/jquery.js"></script>
<script src="js/fontawesome.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!-- static file end -->
</body>
</html>

