<!DOCTYPE html>
<!--creator Md.Imam Hossain Roni-->
<html>
<head>
  <title>CrimeZone</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">#}
  {% load static%}
  <link rel="shortcut icon" type="image/png" href="{% static 'image/login.png' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel='stylesheet' href=" {% static 'css/font-awesome.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <header class="headersection " id="fixed_nav">
    <div class="container-fluid navcontainer">
      <nav class=" navbar navbar-expand-lg   navbar-light  navcontainer2 ">
        <a class="navbar-brand" href="#">CrimeZone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="fa fa-home nav-link" href="/commonpost"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-support  
              " href="#">  Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-sun-o  
              " href="#"> Notifications</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fa fa-cogs" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Security</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Delete Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"  id="logout-btn">Log Out</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-send-o
              " href="#"data-toggle="modal" data-target="#createpost" > Create Post</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

  </header>
  <!-- modal for creating post -->
  <div class="modal animate" id="createpost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Write about crime</h5>
        </div>
        <div class="modal-body">
         <form method="POST" action="/api/post/" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
           <textarea class="form-control" name="title" aria-label="With textarea"></textarea>
           <div><hr></div>
           <div class="fileload">
                <!--
            <a class="fa fa-file-photo-o" href=""></a>
            <a class="fa fa-film" href=""></a>
            <a class="fa fa-camera" href=""></a> -->
            <input type="file" id="postimage" name="postimage">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      <button type="button" id="post" class="btn btn-primary">Post</button>
    </div>
  </div>
</div>
</div>

<!-- modal for creating post end -->


<div class=" maincontainer container-fluid" id="root">
        {% block profile %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block feed %}
        {% endblock %}
     
</div>



{% block script %}
<script>
  localStorage.setItem('csrf_token', '{{ csrf_token }}');
</script>
<!-- static file -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/fontawesome.min.js' %}"></script>
<script src="{% static  'js/bootstrap.min.js' %}"></script>
<script src="{% static  'js/script.js' %}"></script>
<script src="{% static  'js/vue.js' %}"></script>
<script src="{% static  'js/app.js' %}"></script>
<script src="{% static  'js/axios.js' %}"></script>
<!-- static file end -->
{% endblock %}
</body>
</html>

