{% extends 'base.html' %}

{% block content %}
    {{ posts }}

    <div>
        {% for user  in common_users %}
            <p>
                {{ user.name }}
                <a href="#"
                   data-user="{{ user.pk }}" class="deactive-btn">
                    {% if user.user.is_active %}
                    Deactive
                    {% else %}
                    Active
                    {% endif %}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
